<ion-view view-title="Grupos">
	<div class="bar bar-stable" style="height:240px;background:url(img/fondo_mapa2.png)no-repeat center center fixed; background-size: cover;line-height:0px;"></div>
	<div class="bar bar-stable" style="height:240px;background:transparent;line-height:0px">
		<a href="#/tabGrup/gruposL" class="button button-icon icon ion-chevron-left left"  style="color:#5D5C5E;display:inline-block" ></a>
	 	<h5 class="title" style="height:100%;color:#262526;line-height:20px">
	 		<img src="http://cclapp.com/imagenes_lideres/{{grupo.imagen}}" style="width:135px;"><br>
	 			{{grupo.nombre}}<br>
	 				{{grupo.direccion}}<br>
	 				{{grupo.celular}}<br>
	 				{{grupo.hora}}
	 		
	 	</h5>

	 </div>
	</div>
  <ion-content class="has-header" data-tap-disabled="true" style="margin-top:190px">
  <center><h5>¿Como Llegar?</h5></center>
  <hr>
        <div id="map">
        </div> 
  </ion-content>
</ion-view>
  
