  <ion-view view-title="Intro" >
       <ion-content scroll="false">
          <ion-slides  options="options" slider="data.slider">
            <ion-slide-page>
              <div class="box pink"><h1>IGLESIA</h1></div>
            </ion-slide-page>
            <ion-slide-page style="background:url(img/fondo_misiones.jpg); background-size: cover;">
              
            </ion-slide-page>
            <ion-slide-page>
              <div class="box yellow" ><h1>PREDICAS</h1></div>
            </ion-slide-page>
            <ion-slide-page>                 
                 <div style="position:absolute;bottom:35px;width:100%">
                      <center><button class="button icon-left ion-forward button-positive" ng-click="startApp()" style="background:#4A7648;padding: 2px 5px;font-size:bold;font-size:19px"> EMPEZAR </button></center>
                  </div> 
            </ion-slide-page>
          </ion-slides>
        </ion-content>
      </ion-view>
    <link href="css/intro.css" rel="stylesheet">
