<ion-view view-title="Autenticación" >
  <ion-content class="padding">
  	<center><img src="img/logo2.png" style="width:189px"></center>
	  	<form name="myForm" novalidate>
		  	<div class="list list-inset">
			  <label class="item item-input">
			  	 <i class="icon ion-person" style="font-size:22px;margin-right:10px;color:#4A7648;"></i>
			    <input type="text" placeholder="Nombres Completos"   ng-model="login.nombres"  ng-minlength="3" required >
			  </label>
			  <label class="item item-input">
			  	 <i class="icon ion-email " style="font-size:22px;margin-right:10px;color:#4A7648;"></i>
			    <input type="email" placeholder="Correo Electronico"   ng-model="login.email"  ng-minlength="6" required >
			  </label>
			  <label class="item item-input">
			  	 <i class="icon ion-android-phone-portrait" style="font-size:22px;margin-right:10px;color:#4A7648;"></i>
			    <input type="tel" placeholder="Numero de Celular" ng-model="login.numero" ng-minlength="10" required>
			  </label>
			  <label class="item item-input">
			  	 <i class="icon ion-ios-calendar-outline" style="font-size:22px;margin-right:10px;color:#4A7648;"></i>
			    <input class="filter-date" type="date"    ng-model="login.fecha" value="{{date}}" > 
			    <input class="filter-date" type="hidden"  ng-model="login.state"  > 
			  </label>

			</div>
		    <center>
		  		
		  		<br>
		  		 <button class="button button-block button-positive" ng-disabled="myForm.$invalid" ng-click="authenticate();show();" style="font-size:22px;background:#4A7648">Registrarme</button>
		    </center>
		</form>
  </ion-content>
  	<div class="bar bar-footer">
		<div class="title">
			<button class="button button-clear" style="color:#9A9A9A;" ng-click="openModal($event)">Politicas de privacidad</button>
		</div>
	</div>
</ion-view>