<ion-modal-view>
    <ion-header-bar>
    <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="closeModal($event)"></a>
      <h3 class="title">Politicas de privacidad</h3>
    </ion-header-bar>
    <ion-content>
     	<div class="card">
		  <div class="item item-text-wrap" style="text-align:justify">
      <span style="font-weight:bold">USO DE LA APLICACIÓN MÓVIL Y SUS SERVICIOS</span><br><br>
      El Usuario reconoce y acepta que el uso de los contenidos y/o servicios ofrecidos por la presente
      aplicación móvil será bajo su exclusivo riesgo y/o responsabilidad. El Usuario se compromete a utilizar la
      presente aplicación móvil y todo su contenido y Servicios de conformidad con la ley, la moral, el orden
      público y las presentes Condiciones de Uso, y las Condiciones Particulares que, en su caso, le sean de
      aplicación. Asimismo, se compromete hacer un uso adecuado de los servicios y/o contenidos de la
      aplicación móvil y a no emplearlos para realizar actividades ilícitas o constitutivas de delito, que atenten
      contra los derechos de terceros y/o que infrinjan la regulación sobre propiedad intelectual e industrial, o
      cualesquiera otras normas del ordenamiento jurídico aplicable. En particular, el Usuario se compromete a
      no trasmitir, introducir, difundir y poner a disposición de terceros, cualquier tipo de material e
      información (datos contenidos, mensajes, dibujos, archivos de sonido e imagen, fotografías, software,
      etc.) que sean contrarios a la ley, la moral, el orden público y las presentes Condiciones de Uso y, en su 
      caso, a las Condiciones Particulares que le sean de aplicación.<br><br>
		      <span style="font-weight:bold">GARANTÍA Y PROTECCIÓN DE DATOS</span><br><br>
      En el tratamiento de los datos de carácter personal, Centro Cristiano Libertad se compromete a garantizar y proteger
      las libertades públicas y los derechos fundamentales de las personas físicas de los ficheros y,
      especialmente, su honor y su intimidad familiar y personal, obligándose en este sentido, a efectuar el
      correspondiente tratamiento de datos de acuerdo con la normativa vigente en cada momento y a guardar
      el más absoluto secreto en relación con la información entregada por los usuarios.
      Los datos de carácter personal objeto de tratamiento no se utilizarán para otras finalidades que no se
      encuentren aquí recogidas o, en su caso, por otro documento o contrato que vinculase a ambas partes
      con condiciones particulares.
      <br>
      Centro Cristiano Libertad, salvo consentimiento expreso por parte de los usuarios, no realizará cesiones ni
      comunicaciones de datos que no estén previstos en el art. 11.2. LOPD.<br><br>
        <span style="font-weight:bold">CALIDAD DE LOS DATOS<br></span><br>
      Los usuarios deberán velar por el cumplimiento de todas las medidas técnicas y organizativas
      necesarias con la finalidad de garantizar la seguridad de los datos de carácter personal, evitando su
      alteración, pérdida, tratamiento o acceso no autorizado. Los datos que se comuniquen a través de la
      aplicación tendrán que ser exactos y puestos al día siendo de exclusiva responsabilidad de los 
      usuarios la actualización de estos datos
		  </div>
		</div>
    </ion-content>
    
  </ion-modal-view>