<ion-modal-view>
    <ion-header-bar>
    <a class="button icon-left ion-ios-close-outline button-clear button-dark" ng-click="closeModal($event)"></a>
      <h3 class="title">¿Que son los Departamentos?</h3>
    </ion-header-bar>
    <ion-content>
       <p style="text-align:center;margin-top:40px;color:#A7ABA7">Tú creaste mis entrañas;<br> me formaste
          en el vientre de mi madre.<br>
          Salmos 139:13(NVI)<br>
        </p>
        <div class="card">
          <div class="item item-text-wrap">
            Sólo tú puedes ser tú.<br>
            Dios nos diseñó a cada uno de nosotros de tal manera que no haya un doble en el mundo. Nadie tiene la misma mezcla exacta de factores que te hacen único. Eso significa que nadie más en la tierra podrá jugar el papel que Dios planeó para ti.<br> Si no haces tu contribución especial al cuerpo de Cristo, ésta no se hará. <br>La Biblia dice: “Hay diferentes tipos de dones espirituales… diferentes maneras de servicios… diferentes habilidades para hacer el servicio”. En el capítulo anterior explicamos los primeros dos: tus dones espirituales y tu oportunidad del corazón. Ahora veremos el resto de tu FORMA para servir a Dios.
          </div>
        </div>
    </ion-content>
  </ion-modal-view>