<ion-modal-view>

    <ion-header-bar>
    <a class="button icon-left ion-ios-close-outline button-clear button-dark" ng-click="closeModal($event)"></a>
      <h3 class="title">Grupos de Conexion</h3>
    </ion-header-bar>
    <ion-content>
     	<div class="card">
		  <div class="item item-text-wrap">
        <img src="img/grupo_family.png" style="width:100%">
		    <p>Siguiendo el modelo bíblico (Hch. 5:42), el Plan Felipe Integral promueve la creación de pequeños grupos de personas en las casas, para asegurar una atención adecuada a los miembros de la iglesia y un ambiente de confianza a quienes aún no conocen a Jesucristo.</p>
		  </div>
		</div>
    </ion-content>
  </ion-modal-view>