<ion-modal-view>
    <ion-header-bar>
    <a class="button icon-left ion-ios-close-outline button-clear button-dark" ng-click="closeModal($event)"></a>
      <h3 class="title">¿Que son los Departamentos?</h3>
    </ion-header-bar>
    <ion-content>
        <div class="card">
          <div class="item item-text-wrap" style="text-align:justify">
                En la estructura de la iglesia, los departamentos son equipos conformados por miembros de la iglesia que disponen de sus dones, habilidades y capacidades al servicio del Reino de Dios, permitiendo atender de manera integral a toda la comunidad.
          </div>
        </div>
    </ion-content>
  </ion-modal-view>