<ion-modal-view>
    <ion-content>
     	<center><h5>Lee Atentamente nuestra informacion</h5></center><hr>
     	<div class="card">
		  <div class="item item-text-wrap">
		    This is a basic Card which contains an item that has wrapping text.
		  </div>
		</div>
    </ion-content>
    <ion-footer-bar>
    <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="closeModal($event)">Atras</a>
      <h3 class="title">Politicas de privacidad</h3>
    </ion-footer-bar>
  </ion-modal-view>