<ion-view view-title="Inicio">  
  <div class="bar bar-header bar-stable">
      <h4> </h4>
      <button class="button button-icon"></button>
      <div class="h4 title">CC Libertad</div>
  </div>
  <ion-content data-tap-disabled="true" on-ngload="centerOnMe()" class="has-header">
  			<ion-slides  options="options" slider="data.slider" style="width:100%;background:#f1f1f1;height:290px">
		            <ion-slide-page ng-repeat="gale in gal" >
			               
				    		<img src="{{gale.foto}}" >
		            </ion-slide-page>
		          </ion-slides>
		   <br>
		   <h5>Nos diferenciamos por una iglesia en constante movimiento e influencia en el sector del barrio La Libertad, nuestra capacidad es de 300 personas </h5>
		   <hr> <h5 style="">¿Sabes como llegar?</h5>
        <div id="map4" data-tap-disabled="true"></div> 
        <center>
        	<h1 class="icon ion-social-facebook"></h1>
        	<h1 class="icon ion-social-twitter"></h1>
        </center>
        <p>Llamanos para darte mas informacion 5951593</p>
  </ion-content>

 </ion-view>

 <style type="text/css">
 		#map4 {
	  	width: 100%;
	  	height: 50%;
      bottom:0px;
	}

	.scroll {
  		height: 100%;
	}
	#save-widget {
        width: 300px;
        box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
        background-color: white;
        padding: 10px;
        font-family: Roboto, Arial;
        font-size: 13px;
        margin: 15px;
	}
 </style>