<ion-view view-title="ListaGrupos">
  <ion-content class="has-header has-footer">
  		<ion-list>

	        <div ng-repeat="group in groups">
	          <ion-item class="item-avatar"  ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
	             	<img src="http://cclapp.com/imagenes_lideres/{{group.imagen}}" style="width:45px;height:45px">
	            	 {{group.name}}<br><span style="font-size:13px;color:#A7ABA7">{{group.direccion}}</span>
	                <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'" style="float:right;margin-right:10px"></i>
	          </ion-item>
	          <ion-item class="item-accordion item-avatar" ng-repeat="item in group.items" ng-show="isGroupShown(group)" style="margin-left:10px; " href="#/grupo/{{item.id}}" onclick="initMap();">
	            		<img src="http://cclapp.com/imagenes_lideres/{{item.imagen}}" style="width:35px;height:35px">
	            		{{item.entrenador}}<p style="font-size:12px;color:#A7ABA7">{{item.direccion}}</p>
	          </ion-item>
	        </div>
      	</ion-list>
  </ion-content>
</ion-view>

<style type="text/css">
	
.list .item.item-accordion {

  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {

}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
</style>