<ion-view view-title="Inicio">  
  <div class="bar bar-header bar-stable">
      <h4> </h4>
      <button class="button button-icon"></button>
      <div class="h4 title">Centro Cristiano</div>
  </div>
  <ion-content class="padding has-header has-footer">
  			<div class="list card">

			  <div class="item item-body">
			    <img class="full-image" src="img/pjose.png">
			    <p style="font-size:15px;    text-overflow: ellipsis;color:#444;    font-weight: 400;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    line-height: 1.2;">
			      El Centro Cristiano Internacional nace en el corazón de Dios con una pasión por la misiones. En este espacio podrás conocer la biografía de nuestros pastores y cómo de una manera sobrenatural Dios los mueve desde Brasil a Cúcuta, Colombia.
			      <br><br>
			      Apostol José satirio dos santos
			    </p>
			    <iframe width="100%" src="https://www.youtube.com/embed/m0LqYk5D-qY" frameborder="0" allowfullscreen></iframe>
			   
			  </div>
			</div>
			<div class="list card">
			  <div class="item item-body">
			  	 <img class="full-image" src="img/panfi.png">
			    <p style="font-size:15px;    text-overflow: ellipsis;color:#444;    font-weight: 400;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    line-height: 1.2;">
			     Centro cristiano Libertad Descru.

			      Pastores Anfitriones Jorge Rodriguez y July Molina</p>
			  </div>
			</div>
			<div class="card">
			  <div class="item item-text-wrap" style="text-align:justify">
			    <p style="font-size:15px;    text-overflow: ellipsis;color:#444;    font-weight: 400;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    line-height: 1.2;">Visión<br>
			    	¿Hacia dónde nos proyectamos ?<br>
					Hacer de Cúcuta, de la región y de Colombia, espacios donde el amor y los principios del Reino de Dios estén presentes en todas las áreas de la vida personal y social, como modelo yplataforma de la misión mundial.  Hechos 1.8</p>
			  </div>

			</div>
			<div class="card">
			  <div class="item item-text-wrap"  style="text-align:justify">
			    <p style="font-size:15px;    text-overflow: ellipsis;color:#444;    font-weight: 400;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    line-height: 1.2;">Misión<br>
			    	¿Cómo lo estamos logrando?<br>
							Buscamos a hombres y mujeres que no conocen de Jesucristo y los guiamos a la salvación. Luego los discipulamos y capacitamos para que asuman un
							compromiso con Cristo y con su iglesia. Formamos de ellos líderes autónomos, responsables y trascendentes. LEVANTANDO así una generación
							de conquista: consumadores de la palabra y dispuestos a llevar el Evangelio sin mirar el precio. Mateo 28.19-20</p>
			  </div>
			  
			</div>
  </ion-content>

 </ion-view>