<ion-view view-title="Inicio">  
  <div class="bar bar-header bar-stable">
      <h4> </h4>
      <div class="h4 title" style="position:relative">CC LIBERTAD</div>
         <div  class="item-icon-right">
          <div class="icon">
               <span class="ion-social-facebook" ng-click="Shared('fb')" style="color:#3b5998;margin-top:20px"> </span>
               &nbsp;
               <span class="ion-social-twitter"  ng-click="Shared('tw')" style="color:#55acee;margin-top:20px"></span>
                &nbsp;
               <span class="ion-android-share-alt"  ng-click="Shared('sh')" style="color:#4A7648;margin-top:20px"></span>
           </div>
        </div>
  </div>
  <ion-content class="padding has-header">
    <div class="list card" id="ij">

      <div class="item item-avatar">
        <img src="img/{{data.imagen}}" href="#/tab/edificate" class="animated pulse infinite" style="max-width:50px;max-height:50px">
        <h4 style="white-space: normal;">{{data.hora}}</h4>
        <p>{{data.fecha}}</p>
      </div>
      <div class="item item-body">
        <a href="#/tab/edificate"><div style="width:100%;height:120px;background: url({{data.devocional}});background-size: 100%;background-position:40% 80% ">
        </div></a>
        <br>
        <a href="#/tab/edificate" class="subdued">Versiculo del Dia</a>
        <a href="#/tab/edificate" class="subdued" style="float:right;margin-left;color:#4A7648">Ver Mas</a>
    </div>
    </div>
     <div class="list card">

          
        <a  class="item item-icon-left">
          <i class="icon ion-film-marker animated rubberBand infinite" style="color:#049C1C" ></i>
          <h2>{{videos.nombre}}</h2>
          <p>{{videos.fecha}}</p>
        </a>
      <div class="item item-body">
        <div ng-controller="InicioCtrl as controller" class="videogular-container">
          <videogular vg-theme="config.theme.url">
              <vg-media vg-src="config.sources"
                        vg-tracks="config.tracks">
              </vg-media>

              <vg-controls vg-autohide="config.plugins.controls.autoHide" vg-autohide-time="config.plugins.controls.autoHideTime">
                  <vg-play-pause-button></vg-play-pause-button>
                  <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                  <vg-scrub-bar>
                      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  </vg-scrub-bar>
                  <vg-volume>
                      <vg-mute-button></vg-mute-button>
                      <vg-volume-bar></vg-volume-bar>
                  </vg-volume>
      <vg-playback-button></vg-playback-button>
                  <vg-fullscreen-button></vg-fullscreen-button>
              </vg-controls>
          </videogular>
      </div>
      </div>
        <a class="item item-icon-left assertive" href="#/tab/videos" style="color:#9E9E9E">
          <i class="icon ion-videocamera animated rubberBand infinite" style="color:#049C1C"></i>
            Mas Videos
        </a>

    </div>
    <div class="item item-avatar">
        <img src="img/calendar.png" class="animated tada infinite">
        <h2>Actividades del dia</h2>
    </div>
    <a class="item item-list-detail" style="padding:1px">
      <ion-scroll direction="x">
        <img ng-repeat="actividad in actividades" ng-src="{{actividad.url}}"  class="image-list-thumb"/>
      </ion-scroll>
    </a>

    <div class="list card" id="list-cumple">

      <div class="item item-avatar">
        <img src="img/torta.png">
        <h2>Cumpleañeros del Dia</h2>
      </div>

      <div class="item item-body">
        <div ng-repeat="cumple in cumples">
          <p href="#" class="item item-icon-left">
            <i class="icon ion-record" style="font-size:12px"></i>
             {{cumple.nombre}}  
          </p>
        </div>
      </div>

    </div>

      <div class="list card" id="articulo">

          
        <a href="#/articulo-info/{{articulo.id}}" class="item item-icon-left">
          <i class="icon ion-bookmark animated tada infinite" style="color:#AD7C9B"></i>
          <h2>Articulo del Dia</h2>
        </a>

        <a href="#/articulo-info/{{articulo.id}}"> 
          <div class="item item-image" style="width:100%;height:160px;background: url({{articulo.imagen}});background-size: 100%;background-position:40% 20% ""></div>
        </a>
        <a class="item item-icon-left assertive" href="#/articulo-info/{{articulo.id}}" style="color:#9E9E9E">
          <i class="icon ion-ios-bookmarks animated tada infinite" style="color:#A66B50"></i>
            {{articulo.titulo}}
        </a>

      </div>
  
      <div class="list card">

          
        <a href="#/tab/peticion" class="item item-icon-left">
          <i class="icon ion-compose animated tada infinite" style="color:#C4C016"></i>
          <h2>Enviar petición {{peticions.tipo}}</h2>
        </a>

          <a href="#/tab/peticion"><div class="item item-image" style="width:100%;height:160px;background: url(img/{{peticions.imagen}});background-size: 100%;background-position:40% 20% ""></div></a>

        <a class="item item-icon-left assertive" href="#/tab/peticion" style="color:#9E9E9E">
          <i class="icon ion-android-create animated tada infinite" style="color:#0B2EAD"></i>
            cuéntanos tu necesidad, estaremos orando por usted. 
        </a>

      </div>
      <div class="list card">

          
        <a href="#/tab/consejo" class="item item-icon-left">
          <i class="icon ion-happy-outline animated tada infinite" style="color:#5BAD7B"></i>
          <h2>Programar consejo {{consejos.tipo}}</h2>
        </a>

          <a href="#/tab/consejo" ><div class="item item-image" style="width:100%;height:160px;background: url(img/{{consejos.imagen}});background-size: 100%;background-position:40% 20% ""></div></a>

        <a class="item item-icon-left assertive" href="#/tab/consejo" style="color:#9E9E9E">
          <i class="icon ion-android-create animated tada infinite" style="color:#AA7513"></i>
          Nos comunicaremos con usted para acordar una cita.
        </a>

      </div>
    <div class="list card">

          
        <a href="#/predica/{{predica.id}}" class="item item-icon-left">
          <i class="icon ion-music-note animated tada infinite" style="color:#03AEAC"></i>
          <h2>{{predica.nombre}}</h2>
          <p>{{predica.predicador}}</p>
        </a>

        <a href="#/predica/{{predica.id}}" > <div class="item item-image" style="width:100%;height:160px;background: url({{predica.imagen}});background-size: 100%;background-position:40% 20% ""></div></a>

        <a class="item item-icon-left assertive" href="#/predica/{{predica.id}}" style="color:#9E9E9E">
          <i class="icon ion-play animated tada infinite" style="color:#03AEAC"></i>
            Iniciar Predica
        </a>

      </div>

    <div class="list card">

          
        <a href="#/album/{{galeria.id}}" class="item item-icon-left">
          <i class="icon ion-image animated tada infinite" style="color:#8940A8"></i>
          <h2>{{galeria.nombre}}</h2>
          <p></p>
        </a>

          <a href="#/album/{{galeria.id}}"><div class="item item-image" style="width:100%;height:160px;background: url({{galeria.imagen}});background-size: 100%;background-position:40% 20% ""></div></a>

        <a class="item item-icon-left assertive" href="#/album/{{galeria.id}}" style="color:#9E9E9E">
          <i class="icon ion-ios-heart animated tada infinite" style="color:#8940A8"></i>
            Ver Galeria
        </a>

      </div>
      <div class="list card">
          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCCLibertad%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1248580411832486" width="340" height="300" style="border:none;display:block;margin:0 auto;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
         
      </div>

  </ion-content>
</ion-view>
