<ion-view view-title="Inicio">  
  <div class="bar bar-header bar-stable">
      <h4> </h4>
      <button class="button button-icon"></button>
      <div class="h4 title">Centro Cristiano</div>
  </div>
  <ion-content class="padding has-header has-footer">
  			<div class="list card">

			  <div class="item item-body">
			    <img class="full-image" src="img/pjose.png">
			    <p>
			      El Centro Cristiano Internacional nace en el corazón de Dios con una pasión por la misiones. En este espacio podrás conocer la biografía de nuestros pastores y cómo de una manera sobrenatural Dios los mueve desde Brasil a Cúcuta, Colombia.
			    </p>
			    <iframe width="100%" src="https://www.youtube.com/embed/m0LqYk5D-qY" frameborder="0" allowfullscreen></iframe>
			    <p>Apostol José satirio dos santos</p>
			  </div>
			</div>
			<div class="list card">
			  <div class="item item-avatar">
			    <h2>Centro Cristiano Libertad</h2>
			  </div>
			  <div class="item item-body">
			    <img class="full-image" src="img/liber.png">
			    <p>
			     Somos una iglesia hija del centro cristiano libertad.
			    </p>
			   <img class="full-image" src="img/panfi.png">
			    <p> Pastores Anfitriones Jorge Rodriguez y July Molina</p>
			  </div>
			</div>
			<div class="card">
			  <div class="item item-text-wrap" style="text-align:justify">
			    <h3>Visión</h3>
			    	¿Hacia dónde nos proyectamos ?<br>
					Hacer de Cúcuta, de la región y de Colombia, espacios donde el amor y los principios del Reino de Dios estén presentes en todas las áreas de la vida personal y social, como modelo yplataforma de la misión mundial.  Hechos 1.8
			  </div>

			</div>
			<div class="card">
			  <div class="item item-text-wrap"  style="text-align:justify">
			    <h3>Misión</h3>
			    	¿Cómo lo estamos logrando?<br>
							Buscamos a hombres y mujeres que no conocen de Jesucristo y los guiamos a la salvación. Luego los discipulamos y capacitamos para que asuman un
							compromiso con Cristo y con su iglesia. Formamos de ellos líderes autónomos, responsables y trascendentes. LEVANTANDO así una generación
							de conquista: consumadores de la palabra y dispuestos a llevar el Evangelio sin mirar el precio. Mateo 28.19-20
			  </div>
			  
			</div>
			<center>
							<p style="font-size:13px;">PASTORES <br>
								JORGE RODRIGUEZ Y JULY MOLINA <br>
								DIRECCIÓN: CALLE 16 No. 11-76 ESQUINA LA LIBERTAD <br>
								TELEFONO: 5951593<br>
								CENTROCRISTIANOLIBERTAD@HOTMAIL.COM <br>
							</p>
						</center>
  </ion-content>

 </ion-view>